body 

/* basis*/
        {
            background-color: lightgoldenrodyellow;
            font-family: Verdana, Geneva, Tahoma, sans-serif;            
        }
/*heads*/
        h1, h2
        {
            text-align: center;
            padding-bottom: 35px;
        }

/*classes*/
        #metKader
        {
            border: 3px solid;
            border-color: brown;
        }

        .textnadruk
        {
                font-weight: 700;
                color: brown;
        }